{% extends "network/layout.html" %}

{% block body %}
<script>
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if(parts.length == 2) return parts.pop().split(';').shift();
    }

    function submitEdit(id) {
        let textareaEdit = document.getElementById(`textarea${id}`);
        console.log(textareaEdit.value);

        let descriptionPost = document.getElementById(`description${id}`)
        let modal = document.getElementById(`editPost${id}`)

        fetch(`/editPost/${id}`, {
            method: 'POST',
            headers: {'Content-Type': 'application/json', "X-CSRFToken": getCookie("csrftoken")},
            body: JSON.stringify({
                description: textareaEdit.value
            })
        })
        .then((response) => response.json())
        .then((data) => {
            console.log(data);
            // Update automatically the description from the post card
            descriptionPost.innerHTML = data.data;
        })
    }

</script>

<div class="main-title">
    <h1>All Posts</h1>
</div>
<div class="main-content">
    {% if user.is_authenticated %}
    <!--New Post-->
    <div class="row">
        <div class="col">
            <div class="card h-100" id="post-grid">
                <div class="card-body">
                    <form action="{% url 'newPost' %}" method="POST">
                        {% csrf_token %}
                        <h4><strong>New Post</strong></h4>
                        <textarea name="newPostText" id="newPostText" rows="4"></textarea>
                        <div align="right">
                            <button id="newPostButton" type="submit" name="newPostButton"
                                class="btn btn-outline-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path
                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd"
                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg>
                                <strong>ADD POST</strong>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <div class="alert alert-danger" role="alert">
        Please sign in or register to be able to add a post.
    </div>
    {% endif %}

    <!--All Posts-->
    {% for post in postsPage %}
    <div class="row">
        <div class="col">
            <div class="card h-100" id="post-grid">
                <div class="card-body">
                    <h5 style="display: inline" class="card-title"><a href="{% url 'profilePage' user_id=post.author.id %}"><strong>{{ post.author }}</strong></a></h5>
                    <div style="display: inline; color: gray;" class="card-date"> | {{ post.timestamp }}</div>
                    <p class="card-text" id="description{{post.id}}">{{ post.description }}</p>
                    <div class="card-buttonsContainer">
                        <div align="left" class="card-button">
                            <button id="heartButton" type="submit" name="heartButton" class="btn btn-outline-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                </svg>
                                <strong>{{ post.like }}</strong>
                            </button>
                        </div>
                        {% if user.is_authenticated and user == post.author %}
                        <div align="right" class="card-button">
                            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#editPost{{ post.id }}"><strong>EDIT</strong></button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="editPost{{ post.id }}" tabindex="-1" aria-labelledby="editPost{{ post.id }}Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="editPostLabel">Edit Post</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <textarea name="description" class="form-control" id="textarea{{ post.id }}" rows="4">{{post.description}}</textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="submitEdit('{{ post.id }}')">SAVE</button>
                            </div>
                            </div>
                        </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!--Pagination-->
    <nav aria-label="...">
        <ul class="pagination d-flex justify-content-center">
            {% if postsPage.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ postsPage.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
            {% endif %}

            {% for pageNumber in postsPage.paginator.page_range %}
                {% if postsPage.number == pageNumber %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link">{{pageNumber}}</a>
                    </li>
                {% else %}
                    <a href="?page={{ pageNumber }}" class="page-link">
                        {{ pageNumber }}
                    </a>
                {% endif %}
            {% endfor %}

            {% if postsPage.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ postsPage.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div class="d-flex justify-content-center" style="color: gray;" class="card-date">{{ postsPage }}</div>

</div>
{% endblock %}