/* New Post textarea */
textarea {
    width: 100%;
    font-size: 20px;
}

.row {
    margin: 1em 0em;
}

.card-button {
    display: inline;
    margin: 0em .3em;
}

/* Main Title of the Page */
.main-title {
    margin: .5em 1em;
}

/* Content of the Page (except Main Title) */
.main-content {
    margin: .4em 2em;
}

/* ♥ Button*/
.heartButton {
    border: none;
}

/* ADD POST Button*/
#newPostButton {
    margin: .6em 0em 0em;
}